.response-container {
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    padding: 32px;
    border-radius: 20px;
    width: 415px;
    font-family: 'Tangerine', serif;
    text-align: center;
    box-sizing: border-box;
}

.thank-you-image {
    background-image: url('./../../common/images/illustration-thank-you.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 162px;
    height: 108px;
    margin: 0 auto;
}

.rating-submitted {
    background: #262E38;
    border-radius: 22.5px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #FC7614;
    width: 193px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 4px;
}

.resp-heading {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: white;
    margin-top: 30px;
}

.resp-description {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #969FAD;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    
    .response-container {
        width: 90%;
    }
    .resp-heading {
        font-size: 24px !important;
        margin-top: 16px !important;
    }
    .resp-description {
        font-size: 14px;
        line-height: 22px;
        margin-top: 10px;
    }

    .thank-you-image {
        width: 144px;
        height: 96px;
    }
    
}